.create-user {
    width: 25%;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px;
}

.create-user-form {
    margin-top: 20px;
}

.create-user-form .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-user-form .input-group label {
    margin-bottom: 5px;
}

.create-user-form .input-group input {
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
}

.create-user-form .input-group button {
    border: 0;
    outline: none;
    background-color: purple;
    color: white;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    margin-top: 20px;
}

.create-user h3{
    margin-top: 10px;
}